{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "window": true,
    "document": true
  }
}