.hero {
  position: relative;
  min-height: calc(84vh - 54px);
}

.hero picture,
.hero > div {
  position: absolute;
  top: 0;
  z-index: 0;
}

.hero > div {
  z-index: 1;
  padding-bottom: 50px;
}

.hero p {
  line-height: 120%;
  font-weight: 300;
  font-size: 19px;
}

.hero p strong {
  font-weight: 500;
  line-height: 150%;
}
