.hero {
  position: relative;
  min-height: calc(83vh - 54px);
}

.hero picture,
.hero > div {
  position: absolute;
  top: 0;
  z-index: 0;
}

.hero > div {
  z-index: 1;
  padding: 0 5% 40px;
}

.hero p {
  line-height: 120%;
  font-weight: 300;
  font-size: 19px;
}

.hero p strong {
  font-weight: 500;
  line-height: 150%;
}

.hero input {
  display: block;
  margin: 0 auto;
  width: 43px;
  height: 44px;
  overflow: hidden;
  background: url('/img/artesia-sprite-1.png') no-repeat -163px 0;
}
