.conocenos {
  font-size: 16px;
}

.conocenos button {
  min-width: 70%;
}

.conocenos section[name='respaldo'] {
  text-align: center;
}

.conocenos section[name='respaldo'] h1,
.conocenos section[name='instalaciones'] h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}

.conocenos section[name='respaldo'] img {
  display: inline-block;
}

.conocenos section[name='respaldo'] h2 {
  font-size: 24px;
}

.conocenos section[name='respaldo'] h2:first-of-type {
  font-size: 20px;
}

.conocenos section[name='respaldo'] p,
.conocenos section[name='hendrix'] p {
  font-size: 17px;
  line-height: 160%;
}

.conocenos section[name='hendrix'] h3 {
  font-size: 44px;
  font-weight: 500;
}

.conocenos section[name='instalaciones'] > div {
  padding: 0 5%;
}

.icons {
  text-align: center;
}

.icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons ul li {
  padding: 35px;
  margin: 0;
}

.icons ul li span {
  display: inline-block;
  background-image: url('/img/artesia-sprite-1.png');
  background-position: -297px 0;
  background-repeat: no-repeat;
}

.icons ul li p:first-of-type {
  text-transform: uppercase;
}

.icons ul li p {
  font-weight: 700;
}

.icons span[name='acceso'] {
  background-position: -297px 0;
  width: 71px;
  height: 55px;
}

.icons span[name='circuito'] {
  background-position: -305px -131px;
  width: 64px;
  height: 54px;
}

.icons span[name='elevadores'] {
  background-position: -303px -283px;
  width: 71px;
  height: 58px;
}

.icons span[name='acondicionado'] {
  background-position: -295px -443px;
  width: 73px;
  height: 49px;
}

.icons span[name='montacargas'] {
  background-position: -296px -582px;
  width: 71px;
  height: 58px;
}

.icons span[name='aire'] {
  background-position: -155px -134px;
  width: 58px;
  height: 62px;
}

.icons span[name='agua'] {
  background-position: -152px -274px;
  width: 64px;
  height: 57px;
}

.icons span[name='reciclado'] {
  background-position: -157px -437px;
  width: 62px;
  height: 55px;
}

.icons span[name='energetica'] {
  background-position: -164px -579px;
  width: 47px;
  height: 69px;
}

.conocenos section[name='end'] {
  min-height: auto;
  margin: 25px 0;
}

.proyecto h3 {
  margin: 0;
  line-height: 120%;
}

.proyecto p {
  line-height: 140%;
}

.column {
  margin: 50px 0 70px;
}

.column > * {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  section[name='instalaciones'] {
    margin: 75px 0;
    text-align: center;
  }

  section[name='instalaciones'] h1 {
    display: inline-block;
  }

  section[name='instalaciones'] h1 + p {
    display: block;
    margin: 10px auto 25px;
    width: 55%;
  }

  .conocenos section[name='end'] {
    margin: 100px 0;
  }

  .icons ul {
    margin: 75px 0;
  }

  .icons ul li {
    display: inline-block;
    width: 20%;
    margin: 15px 0;
    vertical-align: middle;
  }

  .column {
    display: inline-block;
    vertical-align: baseline;
    width: 33.33%;
    padding: 0 25px;
    height: 100%;
    border-right: 1px rgb(232, 233, 235) solid;
  }

  .column img {
    width: 30%;
  }

  .column2 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
  }

  .column2Padding {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    text-indent: 5%;
  }

  .column2Text {
    padding: 75px 5%;
  }

  .column2TextLean {
    padding: 125px 0 0;
    margin: -15px;
  }

  .column2TextLean h3:first-of-type {
    font-size: 38px;
    margin: 20px 0 20px -12%;
  }

  .column2FloatRight {
    float: right;
    z-index: 1;
  }
}
