.pano {
  min-height: auto;
}

.pano button {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  display: block;
}

.panoWrapper {
  width: 100vw;
  height: 100vh;
}

.panoWrapper div[class*='bnwwju'] {
  padding: 5px !important;
  font-size: 0.4rem;
  background-image: url('/img/tache.png');
  background-color: transparent;
  width: 54px;
  height: 54px;
  border: 0;
}
