.servicios {
}

.servicios h1 {
  text-transform: uppercase;
}

.servicios p {
  font-weight: 500;
  line-height: 130%;
}

.servicios h3 {
  font-weight: 700;
}

.servicios ul {
  text-align: center;
  list-style: none;
  padding: 0 5%;
  margin: 0;
}

.servicios ul li {
  padding: 35px;
  margin: 0;
}

.servicios > section > div {
  margin: 0;
}

.servicios div[class*='column-limit']:nth-of-type(1) > div,
.servicios div[class*='column-limit']:nth-of-type(3) > div {
  margin: 10% 0;
}

.columnText {
  padding: 10% 0 2.5%;
}

.servicios ul li span {
  display: inline-block;
  background-image: url('/img/artesia-sprite-1.png');
  background-position: -297px 0;
  background-repeat: no-repeat;
  border-bottom: thick solid rgb(182, 182, 182);
}

.servicios > section > div > p {
  font-weight: 500;
}

.servicios ul li p:first-of-type {
  font-weight: 700;
}

.servicios ul li span[name='llaves'] {
  background-position: -6px -2px;
  width: 53px;
  height: 68px;
}

.servicios ul li span[name='concierge'] {
  background-position: -7px -137px;
  width: 51px;
  height: 58px;
}

.servicios ul li span[name='mantenimiento'] {
  background-position: -7px -287px;
  width: 51px;
  height: 65px;
}

.servicios ul li span[name='carta'] {
  background-position: -4px -446px;
  width: 53px;
  height: 59px;
}
/*
.servicios ul li span[name='room'] {
  background-position: -297px 0;
  width: 71px;
  height: 70px;
}
*/
.servicios ul li span[name='room'] {
  background-position: 0 -584px;
  width: 57px;
  height: 64px;
}

.servicios ul li span[name='valet'] {
  background-position: -454px -13px;
  width: 59px;
  height: 55px;
}

.servicios ul li span[name='gym'] {
  background-position: -582px -11px;
  width: 65px;
  height: 53px;
}

.servicios ul li span[name='nado'] {
  background-position: -577px -142px;
  width: 65px;
  height: 54px;
}

.servicios ul li span[name='restaurant'] {
  background-position: -593px -281px;
  width: 33px;
  height: 76px;
}

.servicios ul li span[name='business'] {
  background-position: -581px -431px;
  width: 57px;
  height: 83px;
}

.servicios ul li span[name='sky'] {
  background-position: -578px -577px;
  width: 61px;
  height: 82px;
}

.servicios ul li span[name='jacuzzi'] {
  background-position: -576px -728px;
  width: 65px;
  height: 84px;
}

@media (min-width: 992px) {
  .servicios {
    text-align: left;
  }

  .servicios div[class*='column-limit']:nth-of-type(1) > div,
  .servicios div[class*='column-limit']:nth-of-type(3) > div {
    margin: 0;
  }

  .firstLimit {
    background-color: rgb(244, 244, 242);
  }

  .servicios h1 {
    margin: 0;
  }

  .servicios p {
    margin: 5px 0;
  }

  .column {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .columnToLeft {
    width: 61%;
  }

  .columnToLeft:first-of-type {
    width: 39%;
  }

  .columnToLeft:first-of-type :last-child {
    font-size: 0.14rem;
  }

  .columnToRight {
    width: 39%;
  }

  .columnToRight:first-of-type {
    width: 61%;
  }

  .columnPadding {
    padding: 50px 50px 50px 15px;
  }

  .columnText {
    padding: 0 50px;
  }

  .columnTextArea {
    padding: 15px calc(4% + 10px) 0 4%;
  }

  .columnPadding:first-of-type {
    padding: 50px 15px 50px 50px;
  }

  .columnFloatLeft {
    float: left;
    margin-top: 10%;
  }

  .columnLimitDistance {
    margin-top: 35px;
  }

  .servicios ul {
    padding: 20px 0;
  }

  .servicios ul li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 15px 35px 15px 0;
    text-align: left;
  }

  .hide {
    display: none;
  }
}

@media (min-width: 1200px) {
  .servicios ul li {
    padding: 25px 45px 25px 0;
  }

  .servicios ul li p:first-of-type {
    font-size: 0.15rem;
  }

  .columnTextArea {
    padding: 15px calc(5% + 20px) 0 5%;
  }
}
