.galeria {
}

.galeria section > div {
  margin: 0;
}

.galeria section[name='vistas'] {
  min-height: fit-content;
}

.galeria section[name='vistas'] select {
  display: inline-block;
  width: 50vw;
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 1px black inset;
}

.galeria section[name='vistas'] select:first-of-type {
  background-color: white;
  color: black;
}

.galeria section[name='proyectos'] h2 {
  font-weight: 400;
  font-size: 28px;
}

.galeria section[name='proyectos'] p {
  font-weight: 300;
  font-size: 16px;
}

.options {
  display: none;
  text-align: center;
}

.optionButtons {
  display: none;
}

.options a {
  vertical-align: middle;
  color: rgb(100, 100, 100);
  display: inline-block;
  padding: 25px 35px;
  font-weight: 700;
}

.sectionText {
  padding-top: 35px;
  padding-bottom: 55px;
}

.level {
  background-color: black;
  color: white;
  overflow: auto;
  text-align: center;
}

.level h3 {
  text-transform: uppercase;
}

.level a {
  display: block;
  padding: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.obraDesc {
  padding-top: 65px;
  padding-bottom: 65px;
}

.obraDesc p {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

@media (min-width: 992px) {
  .column {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .optionButtons {
    display: block;
    position: absolute;
    transform: translateY(-100%);
    width: 45%;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
  }

  .optionButtons > div {
    background-color: black;
    color: white;
  }

  .optionButtons > div:nth-of-type(2) {
    background-color: white;
    color: black;
  }

  .optionButtons > div span,
  .optionButtons > div a {
    vertical-align: middle;
  }

  .options {
    display: block;
  }

  .options img {
    display: block;
  }

  .options > div > div {
    vertical-align: top;
  }

  .options > div:nth-of-type(2) > div {
    border: 1px solid rgb(180, 180, 180);
  }

  .galeria div[class='flex-column-end'] {
    display: none;
  }

  .columnFloatLeft {
    float: left;
    margin-top: 30px;
  }

  .sectionText {
    padding: 10% 95px 0;
  }

  .sectionTextSmall {
    padding: 0 95px 0;
  }

  .level {
    border: 0;
    position: absolute;
    transform: translateY(-100%);
  }

  .level h3,
  .level a {
    font-size: 12px;
  }
}
