.home {
}

.title {
  display: none;
}

.home section[name='description'] {
  min-height: auto;
}

.home section[name='description'] > div {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.home section[name='description'] p {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}

.home section[name='description'] p strong {
  font-weight: 700;
}

.home section[name='description'] p:first-of-type {
  font-size: 18px;
  line-height: 120%;
}

.home section[name='description'] button {
  margin-top: 30px;
}

.home section[name='_360'] {
  min-height: auto;
}

.column {
  display: block;
  width: 100%;
}

.column:first-of-type {
  display: none;
}

@media (min-width: 992px) {
  .home section[name='description'] > div {
    padding-top: 60px;
  }

  .bottomImage {
    display: none;
  }

  .column {
    display: inline-block;
    width: 50%;
    height: 100%;
  }

  .column:first-of-type {
    display: inline-block;
  }
}
