.header {
  background-color: rgb(12, 12, 12);
  height: 54px;
}

.header > div:first-child {
  position: absolute;
  width: 100vw;
}

.homeLink {
  position: relative;
  z-index: 1;
  display: inline-block;
}

@media (min-width: 992px) {
  .header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 0;
    transform: translateY(0);
  }

  .header [name='menu'] {
    float: right;
    transform: translateY(-10px);
  }
}

@media (min-width: 1280px) {
  .header {
    transform: translateY(-30px);
  }
}
