.header {
  background-color: rgb(12, 12, 12);
  height: 54px;
}

.header > div:first-child {
  position: absolute;
  width: 100vw;
}

.homeLink {
  position: relative;
  z-index: 1;
  display: inline-block;
}

@media (min-width: 992px) {
  .header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px 0 5px;
  }

  .header [name='menu'] {
    float: right;
  }
}
