.footer {
  background: url('/img/artesia-footer-bg-mobile.jpg') no-repeat center center
    fixed;
  background-size: cover;
  text-align: justify;
  text-justify: newspaper;
}

.footer > div {
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  vertical-align: top;
}

.footer p,
.footer a {
  color: rgb(123, 123, 123);
  font-size: 10px;
  line-height: 160%;
  margin: 0;
}

.footer hr {
  margin: 25px 0;
  border: 0.5px solid rgb(123, 123, 123);
}

.logo {
  opacity: 0.55;
  /* transform: translateX(-20px); */
}

.contact {
  display: inline-block;
  vertical-align: top;
}

.nav {
  display: none;
}

.twitter {
  margin-top: 15px !important;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }

  .contact {
    width: 30%;
  }

  .nav {
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }

  .list {
    display: table;
    border-collapse: separate;
    border-spacing: 20px 35px;
    width: 100%;
  }

  .list,
  .list li ul {
    list-style: none;
    margin: 0;
    padding: 12px 0 0 0;
  }

  .list > li {
    vertical-align: top;
    display: table-cell;
    padding: 6px 1% 0 0;
    border-top: 1px solid rgb(183, 183, 183);
  }

  .list li a,
  .list li span {
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: 0.14rem;
  }

  .list > li > a,
  .list > li > span {
    text-transform: uppercase;
  }

  .wideSubmenu {
  }

  .rounded {
  }
}
