html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Gotham', sans-serif;
  font-size: 18px;
  color: rgb(67, 64, 65);
}

.book {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

strong {
  font-weight: 700;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  min-height: 100vh;
}

/*section:first-of-type {
  height: calc(100vh - 54px); /* .header: height *
}*/

button,
.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-square {
  padding: 15px 22.5px 12.5px;
  border: 3px solid black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.color-white {
  color: white;
}

.remark {
  color: rgb(231, 114, 36);
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
  min-width: 300rrpx;
  max-width: 325px;
  padding: 0 calc(5% + 10px) 0 5%;
}

.debug .wrapper {
  box-shadow: 0 0 1px 1px red inset;
}

.menu {
  display: none;
}

.logo {
  width: auto;
}

/* ###################################### */
/* ############### FLEX ################# */

.flex-column-end {
  height: 100%;
  width: 100%;
  max-width: unset !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-column-end > * {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* ###################################### */
/* ############ BURGER MENU ############# */

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 80vw;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f8f8f8;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  width: 100% !important;
}

/* General sidebar styles */
.bm-menu {
  background: url('/img/artesia-menu-bg-mobile.jpg') no-repeat center center
    fixed;
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  left: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.slick-prev {
  left: 5px !important;
  z-index: 1;
}

.slick-next {
  right: 5px !important;
}

.slick-dots {
  position: relative !important;
  margin-bottom: 10px !important;
  bottom: 0 !important;
}

/* ################ BREAKPOINTS ##################### */

@media (min-width: 375px) {
  .wrapper {
    max-width: 500px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    max-width: 700px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    max-width: 900px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    max-width: 1000px;
  }

  .bm-burger-button {
    display: none;
  }

  .menu {
    display: inline-block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1800px;
  }
}
