.app {
}

.wrapper {
  margin: 0 auto;
  max-width: 325px;
  padding: 0 2.5%;
}

.debug .wrapper {
  box-shadow: 0 0 1px 1px red inset;
}

.container {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    max-width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    max-width: 700px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    max-width: 900px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1000px;
  }
}
