html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 44px;
  font-size: 11vw;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Gotham', sans-serif;
  font-size: 1rem;
  color: rgb(67, 64, 65);
}

.book {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

strong {
  font-weight: 700;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  min-height: 100vh;
}
section > div {
  margin: 12.5% 0;
}

section:last-of-type > div {
  margin: 12.5% 0 0;
}

section:first-of-type > div {
  margin: 0;
}

/*section:first-of-type {
  height: calc(100vh - 54px); /* .header: height *
}*/

button,
.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select {
  font-size: 0.4rem;
  text-transform: uppercase;
}

button,
input {
  max-width: 100%;
  font-size: 0.3rem;
}

p,
li,
span,
a {
  font-size: 0.4rem;
  font-weight: 500;
}

.sub {
  font-size: 0.45rem;
}

h1 {
  font-size: 0.7rem;
  margin-top: 0;
}

h2 {
  font-size: 0.64rem;
  margin-top: 0;
}

h3 {
  font-size: 0.6rem;
  margin-top: 0;
}

h4 {
  font-size: 0.5rem;
  margin-top: 0;
}

h5 {
  font-size: 0.45rem;
  margin-top: 0;
}

.button-square {
  padding: 20px 30px 18px;
  border: 3px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 0.3rem;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  margin: 15px 0;
}

.button-square-white {
  display: inline-block;
  padding: 20px 30px 18px;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 0.3rem;
  font-weight: 600;
  text-decoration: none;
  margin: 15px 0;
}

.color-white {
  color: white;
}

.remark {
  color: rgb(231, 114, 36);
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
  min-width: 300px;
  max-width: 325px;
  padding: 0 calc(5% + 10px) 0 5%;
}

.debug .wrapper {
  box-shadow: 0 0 1px 1px red inset;
}

.menu {
  display: none;
}

.logo {
  width: auto;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
}

/* ###################################### */
/* ############### FLEX ################# */

.flex-column-end {
  height: 100%;
  width: 100%;
  max-width: unset !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-column-end > * {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* ###################################### */
/* ############ BURGER MENU ############# */

.menu-item {
}

.menu-item.active {
  color: rgb(231, 114, 36);
}

.menu-item[href='/contacto'].active {
  font-weight: 700;
  color: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 32px;
  height: 28px;
  left: 80vw;
  top: 13px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f8f8f8;
  height: 14% !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  width: 100% !important;
}

/* General sidebar styles */
.bm-menu {
  background: url('/img/artesia-menu-bg-mobile.jpg') no-repeat center center
    fixed;
  background-size: cover;
  padding: 1em 1.5em 0;
  font-size: 1.15rem;
  left: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.slick-prev {
  left: 5px !important;
  z-index: 1;
}

.slick-next {
  right: 5px !important;
}

.slick-dots {
  position: relative !important;
  margin-bottom: 10px !important;
  bottom: 0 !important;
}

/* ################ BREAKPOINTS ##################### */

@media (min-width: 375px) {
  .wrapper {
    max-width: 500px;
  }
}

@media (min-device-width: 325px) and (orientation: landscape) {
  section {
    min-height: unset !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    max-width: 700px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 80px;
    font-size: 7.5vw;
  }

  .wrapper {
    max-width: 980px;
    padding: 0 calc(2% + 10px) 0 2%;
  }

  .bm-burger-button {
    left: 90vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section {
    min-height: unset !important;
  }

  .wrapper {
    max-width: 1000px;
    padding: 0 calc(1.5% + 10px) 0 1.5%;
  }

  .bm-burger-button {
    display: none;
  }

  .logo {
    /* max-width: 240px; */
  }

  .menu {
    display: inline-block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 100px;
    font-size: 5.5vw;
  }

  select {
    font-size: 0.2rem;
  }

  button,
  input {
    max-width: 100%;
    font-size: 0.2rem;
  }

  p,
  li,
  span,
  a {
    font-size: 0.24rem;
    font-weight: 500;
  }

  .sub {
    font-size: 0.28rem;
  }

  h1 {
    font-size: 0.6rem;
    margin-top: 0;
  }

  h2 {
    font-size: 0.5rem;
    margin-top: 0;
  }

  h3 {
    font-size: 0.4rem;
    margin-top: 0;
  }

  h4 {
    font-size: 0.3rem;
    margin-top: 0;
  }

  h5 {
    font-size: 0.25rem;
    margin-top: 0;
  }

  .button-square,
  .button-square-white {
    font-size: 0.15rem;
  }

  .wrapper {
    max-width: 1900px;
    padding: 0 calc(2.5% + 10px) 0 2.5%;
  }
}
